.modal{
    display: flex;
    position: relative;
    margin-top: -180px;
    margin-left: 50px;
    flex-direction: column;
    border: 1px solid rgb(139, 135, 135);
    background-color: #fff;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    padding: 50px 0;
    border-radius: 15px;
    box-shadow: 2px 2px 5px grey;
    z-index: 1;

}
.popUp{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50px);
    transition: all ease 300ms;
}

.popUp.active{
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}

.modalTop{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
    z-index: 5;
}

.modalTop input{
    padding: 10px 50px;
    width: 60%;
}

#smallClose{
    margin-top: -30px;
    color: red;
}

.overlay
{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgb(5, 5, 5);
    opacity: 0.8;
    transform: scale(0);
    transition: ease-in 10ms;
    z-index: 0;
} 
.overlay.active{
    transform: scale(1);
}
@media(min-width:200px) and (max-width:560px)
{
    .modal{
        margin-top: -150px;
    }
    .modalTop input{
        margin-left: -10px;
    }
    #smallClose{
        margin-left: -40px;
    }
}